@model Assignment2.ViewModels.ScheduledPaysViewModel

@{
    ViewData["Title"] = "Modify";
}

<h1>Modify Scheduled Bill Payment</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modify">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.BillPay.BillPayId" value="@Model.BillPay.BillPayId"/>
            <div class="form-group">
                <label asp-for="@Model.BillPay.AccountNumber" class="control-label"></label>
                <input asp-for="@Model.BillPay.AccountNumber" class="form-control" value="@Model.BillPay.AccountNumber"/>
                <span asp-validation-for="@Model.BillPay.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.PayeeId" class="control-label"></label>
                <input asp-for="@Model.BillPay.PayeeId" class="form-control" value="@Model.BillPay.PayeeId"/>
                <span asp-validation-for="@Model.BillPay.PayeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.Amount" class="control-label"></label>
                <input asp-for="@Model.BillPay.Amount" class="form-control" value="@Model.BillPay.Amount"/>
                <span asp-validation-for="@Model.BillPay.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.ScheduleDate" class="control-label"></label>
                <input asp-for="@Model.BillPay.ScheduleDate" class="form-control" value="@Model.BillPay.ScheduleDate"/>
                <span asp-validation-for="@Model.BillPay.ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.Period" class="control-label"></label>
                <select asp-for="@Model.BillPay.Period" class="form-control" asp-items="Html.GetEnumSelectList<Period>()" selected="@Model.BillPay.Period"></select>
                <span asp-validation-for="@Model.BillPay.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <form asp-action="Delete">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
                <input @*type="hidden"*@ asp-for="@Model.BillPay.BillPayId" asp-route-billPayId="@Model.BillPay.BillPayId" value="@Model.BillPay.BillPayId" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
