@model Assignment2.ViewModels.ScheduledPaysViewModel

@{
    ViewData["Title"] = "Modify Scheduled Bill Payment";
}

<h1>Modify Scheduled Bill Payment</h1>

<h4>BillPay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.BillPay.BillPayId" />
            <div class="form-group">
                <label asp-for="@Model.BillPay.AccountNumber" class="control-label"></label>
                <input asp-for="@Model.BillPay.AccountNumber" class="form-control" />
                <span asp-validation-for="@Model.BillPay.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.PayeeId" class="control-label"></label>
                <input asp-for="@Model.BillPay.PayeeId" class="form-control" />
                <span asp-validation-for="@Model.BillPay.PayeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.Amount" class="control-label"></label>
                <input asp-for="@Model.BillPay.Amount" class="form-control"/>
                <span asp-validation-for="@Model.BillPay.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.ScheduleDate" class="control-label"></label>
                <input asp-for="@Model.BillPay.ScheduleDate" class="form-control" />
                <span asp-validation-for="@Model.BillPay.ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillPay.Period" class="control-label"></label>
                <select asp-for="@Model.BillPay.Period" class="form-control"></select>
                <span asp-validation-for="@Model.BillPay.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
